body
{
    background-image: url('http://getwallpapers.com/wallpaper/full/c/b/0/61828.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
    }